@font-face {
  font-family: "SBBWeb Roman";
  src: url(https://cdn.app.sbb.ch/fonts/v1_6_subset/SBBWeb-Roman.woff2);
}
@font-face {
  font-family: "SBBWeb Thin";
  src: url(https://cdn.app.sbb.ch/fonts/v1_6_subset/SBBWeb-Thin.woff2);
}
@font-face {
  font-family: "SBBWeb Bold";
  src: url(https://cdn.app.sbb.ch/fonts/v1_6_subset/SBBWeb-Bold.woff2);
}
html {
  font-size: 15px;
}
* {
  font-family: "SBBWeb Roman", Helvetica, Arial, sans-serif;
  outline: none;
  padding: 0px;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
}
#header {
  height: 48px;
  background-color: #ffffff;
  border-bottom: solid 1px #cccccc;
  width: 100%;
  position: fixed;
}
.mod_header_logo_content {
  float: right;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 16px;
  margin-top: 16px;
  width: 190px;
}
table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.8rem;
}
td, th {
  border: 1px solid #ddd;
  padding: 1px 8px 1px 8px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1rem;
  font-family: "SBBWeb Roman";
  height: 37px;
}
td:hover, th:hover {
  overflow: visible;
}
tr:nth-child(odd) {
  background-color: #F6F6F6;
  transition: 0.4s;
}
tr:nth-child(even) {
  background-color: #ffffff;
  transition: 0.4s;
}

tr:hover {
  transition: 0.4s;
  background-color: #ddd;
}

th {
  text-align: left;
  background-color: #e5e5e5;
  color: #000000;
  font-family: "SBBWeb Bold";
}
td span.tag {
  line-height: 34px;
  font-size: 1rem;
  color: #000000;
  font-family: "SBBWeb Roman";
}
div.editCanvas {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255,255,255,0.7);
}
.editContainer {
  max-height: 80vh;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  column-gap: 20px;
  row-gap: 20px;
  padding: 20px 16px 20px 16px;
}
.editHeader {
  font-size: 1rem;
  padding: 15px 40px 15px 16px;
  min-height: 25px;
  border-bottom: solid 1px #E5E5E5;
  display: block;
  position: relative;
  text-align: left;
}
.editHeader button {
  position: absolute;
  right: 16px;
  width: 24px;
  min-width: 24px;
  height: 24px;
  padding:0px;
  margin: 0px;
  background: none;
}
.editHeader button:hover {
  background: none;
}
.editHeader button:hover path {
  stroke: #eb0000;
}
.editFrame {
  position: static;
  background-color: #ffffff;
  max-height: 96vh;
  max-width: 80vw;
  overflow: auto;
  border: solid 1px #444444;
  box-shadow: 0px 4px 0px rgba(0,0,0,0.1)
}
.editFooter {
  justify-content: flex-start;
  align-items: center;
  position: relative;
  display: flex;
  column-gap: 8px;
  border-top: solid 1px #E5E5E5;
  padding: 7px 15px 7px 15px;
}
.editFooter button {
  align-self: flex-end;
  flex-grow: 0;
  flex-shrink: 0;
}
.editFooter div.spacer {
  flex-grow: 1;
  flex-shrink: 1;
}
.inputWrapper {
  width: 320px;
  text-align: left;
  position: relative;
  min-height: 55px;
}
.inputWrapper label {
  font-size: 0.86rem;
  line-height: 16px;
  color: #686868;
  white-space: nowrap;
  display: block;
  margin: 0px 0px 3px 0px;
  font-family: "SBBWeb Roman";
  text-align: left;
}
input, select, textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 23px;
  padding: 5px 8px 6px 8px;
  color: #444444;
  border-radius: 2px;
  border: solid 1px #B7B7B7;
  font-family: "SBBWeb Roman";
  box-sizing: border-box;
}
input:focus, select:focus {
  border: solid 1px #444444;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  padding: 0px;
  margin: 0px;
}
.checkboxWrapper{
  text-align: left;
}
.checkboxWrapper input[type="checkbox"] {
  display: inline-block;
  position: absolute;
  bottom: 8px;
  left: 0px;
}
.checkboxWrapper label {
  display: inline-block;
  font-size: 1rem;
  line-height: 15px;
  margin: 2px 0px 3px 8px;
  position: absolute;
  bottom: 8px;
  left: 20px;

}
button {
  padding: 6px 16px 7px 16px;
  background-color: #dcdcdc;
  color: #444444;
  line-height: 23px;
  border-radius: 2px;
  font-size: 1rem;
  transition: 0.4s;
  cursor: pointer;
  border: none;
  font-family: "SBBWeb Roman";
  min-width: 100px;
}
button:hover {
  background-color: #cdcdcd;
  transition: 0.4s;
}
button[disabled] {
  opacity: 0.6;
  cursor: default;
} 
button[disabled]:hover {
  background-color: #dcdcdc;
}
button.right {
  float: right;
}
button.red {
  background-color: #eb0000;
  color: #ffffff;
}
button.red:hover{
  background-color: #C60018;
  color: #ffffff;
}
button.icon {
  width: 36px;
  height: 36px;
  min-width: inherit;
  padding: 6px;
}
#header button, #header a {
  margin: 3px 24px 3px 24px;
  font-size: 0.93rem;
  color: #767676;
  font-family: "SBBWeb Roman";
  background: none;
  padding: 0px;
  line-height: 48px;
  text-decoration: none;
  display: inline-block;
  min-width: 0;
}
#header button:hover {
  color: #C60018;
  text-decoration: underline;
}
div.checkbox {
  width: 300px;
  height: 46px;
  border-radius: 4px 18px 18px 18px;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,0.4);
  position: relative;
  cursor: pointer;
}
div.slider {
  background-color: #444;
  width: 26px;
  height: 26px;
  position: absolute;
  border-radius: 14px;
  margin: 4px;
  left: 0px;
  border: solid 1px #222;
  transition: 0.4s;
  top: 10px;
}
div.checkbox[value="1"] .slider {
  background-color: #17d01f;
  transition: 0.4s;
  filter: blur(1px);
  border-color: #e4ff9a;
  left: 264px;
}
img.svg {
  height: 36px;
}
td img.svg {
  height: 34px;
  display: inline-block;
  vertical-align:bottom;
  margin-right: 8px;
}
#contentCanvas {
  padding-top: 48px;
}
h1 {
  color: #000000;
  line-height: 34px;
  font-size: 1.86rem;
  font-family: "SBBWeb Thin";
  padding: 42px 20px 20px 20px;
  font-weight: 400;
}
h1 button.icon {
  margin-left: 20px;
  opacity: 0;
}
h1:hover button.icon {
  opacity: 1;
}
h2 {
  color: #000000;
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 24px;
  font-family: "SBBWeb Thin";
}
.svgPreview {
  display: inline-block;
  width: 36px;
  height: 36px;
  border: 1px solid #eb0000;
  border-radius: 2px;
}
#notificationContainer {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 0px;
  overflow: visible;
  z-index: 1000;
}

#notificationCanvas.success {
  border: 1px solid rgb(0, 151, 59);
  background-color: #FFFFFF;
  color: #00973b;
}
#notificationCanvas span.icon.success {
  background-image: url("assets/tick-small-green.svg");
}
#notificationCanvas button.icon.success {
  background-image: url("assets/cross-small-green.svg");
}


#notificationCanvas.error {
  border: 1px solid rgb(235, 0, 0);
  background-color: rgb(235, 0, 0);
  color: #FFFFFF;
}
#notificationCanvas span.icon.error {
  background-image: url("assets/sign-exclamation-point-small-white.svg");
}
#notificationCanvas button.icon.error {
  background-image: url("assets/cross-small-white.svg");
}

#notificationCanvas {
  margin: 20px;
  padding: 11px 0px 9px 0px;
  overflow: hidden;
  border-radius: 2px;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
}
#notificationCanvas span.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-left: 16px;
}
#notificationCanvas span.message {
  display: inline-block;
  line-height: 26px;
  font-size: 15px;
  font-family: "SBBWeb Roman";
  margin: 0px 24px 0px 8px;
}
#notificationCanvas button {
  width: 24px;
  height: 24px;
  margin-right: 22px;
  background-color: inherit;
}
p {
  margin-bottom: 1em;
}
p.notifier {
  width: 200px;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "SBBWeb Thin";
}
p.success {
  border: solid 1px;
  border-color: #00973B;
  background-color: #ffffff;
  color: #00973B;
}
p.error {
  background-color: #EB0000;
  color: #FFFFFF;
}
p.multiLine {
  white-space: pre-line;
}
.hidden {
  display: none;
}
.prototypeWrapper {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  row-gap: 20px;
  align-items: flex-end;
}
.prototypeWrapper.delete * :not(label) {
  text-decoration: line-through;
  color: #EB0000
}
.marginRight {
  margin-right: 20px;
}
div.sortHandle {
  width: 24px;
  padding: 0px 6px 0px 6px;
  cursor: row-resize;
}
span.icon {
  width: 24px;
  height: 24px;
  display: block;
}
span.icon.true {
  background-image: url("assets/tick-small.svg");
}
.icon.false {
  background-image: url("assets/cross-small.svg");
}
span.icon.delete {
  background-image: url("assets/trash-small.svg");
}
span.icon.edit {
  background-image: url("assets/pen-small.svg");
}
span.icon.addDocument {
  background-image: url("assets/document-plus-small.svg");
  display: inline-block;
  vertical-align: middle;
}
button.icon.up {
  background-image: url("assets/chevron-small-up-small.svg");
  width: 24px;
  height: 24px;
  margin-bottom: 6px;
}
button.icon.down {
  background-image: url("assets/chevron-small-down-small.svg");
  width: 24px;
  height: 24px;
}
span.icon.home {
  background-image: url("assets/house-small.svg");
  display: inline-block;
  vertical-align: middle;
}

#listsContainerCanvas {
  display: flex;
  padding-top: 96px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 16px;
  column-gap: 16px;
}

div.listBoxContainer {
  width: 338px;
  height: 146px;
  padding: 48px 24px 112px 24px;
  background-color: #f6f6f6;
  transition: background 225ms ease-in-out;
}

div.listBoxContainer:hover {
  background-color: #e5e5e5;
  transition: background 225ms ease-in-out;
}
div.linkContainer span {
  margin: 4px;
  padding: 4px 13.5px 4px 13.5px;
  border: solid 1px #000000;
  border-radius: 13.5px;
}